div.skinned-select
{
    background: #FFF url('/Content/images/sdd.jpg') no-repeat scroll 0pt 100%;
    background-position: right center;
    height: 32px;
    width: 314px;
    border: 1px solid #bbb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
div.skinned-select:hover
{
    background: #FFF url('/Content/images/sdd_.jpg') no-repeat scroll 0pt 100%;
    background-position: right center;
    height: 32px;
    width: 314px;
    border: 1px solid #bbb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
div.skinned-select select
{
    opacity: 0;
    filter: alpha(opacity = 0);
    moz-opacity: 0;
    position: relative;
    z-index: 100;
}
div.skinned-select .select-text
{
    position: absolute;
    text-indent: 10px;
    line-height: 32px;
    width: 314px;
    z-index: 1;
}
div.skinned-select .select-text
{
    width: 314px;
    font-size: 20px;
    color: #000;
}

div.skinned-select select
{
    padding-top: 10px;
    width: 314px;
    font-size: 15px;
    color: #555;
}

div.skinned-select select option
{
    width: 314px;
    font-size: 15px;
    color: #555;
}

/* non javascript version select */

.my-skinnable-select select
{
    width: 314px;
    font-size: 11px;
    border: 1px solid #D5E6EE;
}
