@model IEnumerable<PanizoMVC.Restaurante>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Slider -->
<div id="slider-block">
    <div id="slider-holder">
        <div id="slider">
            <a href="http://www.luiszuno.com">
                <img src="http://lorempixel.com/906/390/food/5" title="Visit my web site regularly and get freebies each week!"
                    alt="" /></a> <a href="@Url.Action("Todos")">
                        <img src="http://lorempixel.com/906/390/people/2" title="Consulta la lista al completo de todos los restaurantes de Entrepan."
                            alt="" /></a>
        </div>
    </div>
</div>
<!-- ENDS Slider -->
<div class="panes">
    <ul class="blocks-thumbs thumbs-rollover">
        @Html.Partial("PartialColumn", (PanizoMVC.Models.ColumnModel)ViewBag.Column1)
        @Html.Partial("PartialColumn", (PanizoMVC.Models.ColumnModel)ViewBag.Column2)
        @Html.Partial("PartialColumn", (PanizoMVC.Models.ColumnModel)ViewBag.Column3)
    </ul>
</div>
