<script src="http://bundlejs.com/alexgorbatchev/products/textext/1.3.0?compress=true&bundles=core,ajax,arrow,autocomplete,filter,focus,prompt,suggestions,tags"
    type="text/javascript" charset="utf-8"></script>
@*<textarea id="tagsIngredientes" rows="5" cols="5" style="width: 400px;"></textarea>
<script type="text/javascript">
    $('#tagsIngredientes').textext({
        plugins: 'tags prompt autocomplete ajax',
        tagsItems: ['Basic', 'JavaScript', 'PHP', 'Scala'],
        prompt: 'Añadir Ingrediente',
        ajax: {
            url: '/Ingredientes',
            dataType: 'json',
            cacheResults: true
        }
    })
    .bind('isTagAllowed', function (e, data) {
        //Comprobamos si ya existe.
        var exists = ExistsTag(data.tag);
        //Ponemos si es valido o no según la comprobación.
        data.result = exists;
        alert("HOLA");
    });
</script>
<script type="text/javascript">
    function ExistsTag(newTag) {
        var tags = $("#hdnTags").val();
        alert("TAGS: " + tags);
        var tagsArray = tags.split(",");
        for (i in tagsArray) {
            //Cogemos el tag. Y comprobamos si ya existe.
            var tag = tagsArray[i];
            if (tag == newTag) {
                return false;
            }
        }
        //Si no hemos vuelto es que no existe. Asi que lo añadimos al hidden.
        //$("#hdnTags").val(tags + "," + newTag);
        //Por tanto devolvemos TRUE.
        return true;
    }
    //$(document).ready(function () {
    //});
</script>
@Html.Hidden("hdnTags", "Basic,JavaScript,PHP,Scala")
*@
<textarea id="textarea" class="example" rows="1"></textarea>

<div style="margin-top: 20px">
	<input type="text" id="tagname" placeholder="Escribe el ingrediente" />
	<button id="addtag" class="btn">Añadir Ingrediente</button>
</div>
<script type="text/javascript">
    $('#tagname').textext({
        plugins: 'autocomplete ajax',
        ajax: {
            url: '/Ingredientes',
            dataType: 'json',
            cacheResults: true
        }
    });

    $('#textarea').textext({ plugins: 'tags' });

    $('#addtag').bind('click', function (e) {
        $('#textarea').textext()[0].tags().addTags([$('#tagname').val()]);
        $('#tagname').val('');
    });
</script>