<script src="@Url.Content("~/Scripts/textext.js")" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="http://xoxco.com/projects/code/tagsinput/jquery.tagsinput.css" />
<script type="text/javascript" src="http://xoxco.com/projects/code/tagsinput/jquery.tagsinput.js"></script>
@*<textarea id="tagsIngredientes" rows="5" cols="5" style="width: 400px;"></textarea>
<script type="text/javascript">
    $('#tagsIngredientes').textext({
        plugins: 'tags prompt autocomplete ajax',
        tagsItems: ['Basic', 'JavaScript', 'PHP', 'Scala'],
        prompt: 'Añadir Ingrediente',
        ajax: {
            url: '/Ingredientes',
            dataType: 'json',
            cacheResults: true
        }
    })
    .bind('isTagAllowed', function (e, data) {
        //Comprobamos si ya existe.
        var exists = ExistsTag(data.tag);
        //Ponemos si es valido o no según la comprobación.
        data.result = exists;
        alert("HOLA");
    });
</script>
<script type="text/javascript">
    function ExistsTag(newTag) {
        var tags = $("#hdnTags").val();
        alert("TAGS: " + tags);
        var tagsArray = tags.split(",");
        for (i in tagsArray) {
            //Cogemos el tag. Y comprobamos si ya existe.
            var tag = tagsArray[i];
            if (tag == newTag) {
                return false;
            }
        }
        //Si no hemos vuelto es que no existe. Asi que lo añadimos al hidden.
        //$("#hdnTags").val(tags + "," + newTag);
        //Por tanto devolvemos TRUE.
        return true;
    }
    //$(document).ready(function () {
    //});
</script>
@Html.Hidden("hdnTags", "Basic,JavaScript,PHP,Scala")
*@
<div>
    @Html.Label("Ingredientes")
    <input id='tagsIngredientes' type='text' class='tags'>
    @*<textarea id="textarea" rows="5" cols="5" style="width: 400px;"></textarea>*@
    <div style="margin-top: 20px">
        <div style="float: left;">
            <input type="text" id="tagname" placeholder="Escribe el ingrediente" style="width: 210px;" />
        </div>
        <div style="position: relative; top: -10px; left: 220px;">
            <input type="button" value="Añadir Ingrediente" name="addIngrediente" id="addIngrediente"
                tabindex="9" title="Añadir Ingrediente" />
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#tagname').textext({
        plugins: 'autocomplete ajax',
        ajax: {
            url: '/Ingredientes',
            dataType: 'json',
            cacheResults: true
        }
    });

    $('#addIngrediente').bind('click', function (e) {
        //Comprobamos que no este añadido ya.
        var existsTag = $('#tagsIngredientes').tagExist($('#tagname').val());
        //Lo añadimos a los tags. Si no existe ya.
        if (existsTag == false) {
            $('#tagsIngredientes').addTag($('#tagname').val());
            //Lo añadimos al hidden.
            var hdn = $("#hdnTags").val();
            $("#hdnTags").val(hdn + $('#tagname').val() + ",")
        }
        //Limpiamos el valor del textbox de nuevo ingrediente.
        $('#tagname').val('');
    });

    function onRemoveTag(tag) {
        //Quitamos el tag en cuestión.
        var tags = $("#hdnTags").val();
        tags = tags.replace(tag + ",","");
        $("#hdnTags").val(tags);
    }

    $('#tagsIngredientes').tagsInput({
        width: '350px',
        height: '40px',
        onRemoveTag: onRemoveTag,
        interactive : false,
        removeWithBackspace : false,
    });
	
</script>
@Html.Hidden("hdnTags")
