<!-- Slider -->
<div id="slider-block">
    <div id="slider-holder">
        <div id="slider">
            <a href="http://www.luiszuno.com">
                <img src="../../Content/images/01.jpg" title="Visit my web site regularly and get freebies each week!"
                    alt="" /></a> <a href="http://themeforest.net/user/Ansimuz/portfolio?ref=ansimuz">
                        <img src="../../Content/images/02.jpg" title="Eugenio es una marica que no sabe jugar al padel."
                            alt="" /></a>
        </div>
    </div>
</div>
<!-- ENDS Slider -->
<div class="panes">
    <ul class="blocks-thumbs thumbs-rollover">
        <li><a href="#" class="thumb" title="An image">
            <img src="../../Content/style/dummies/282x150.gif" alt="Post" /></a>
            <div>
                <a href="#" class="header">Lorem ipsum dolor</a> Donec eu libero sit amet quam egestas
                semper. Aenean ultricies mi vitae est. ultricies eget, tempor sit amet, ante. Mauris
                placerat eleifend leo.
            </div>
            <a href="single.html">Read more &#8594;</a> </li>
        <li><a href="#" class="thumb" title="An image">
            <img src="../../Content/style/dummies/282x150.gif" alt="Post" /></a>
            <div>
                <a href="#" class="header">Lorem ipsum dolor</a> Donec eu libero sit amet quam egestas
                semper. Aenean ultricies mi vitae est. ultricies eget, tempor sit amet, ante. Mauris
                placerat eleifend leo.
            </div>
            <a href="single.html">Read more &#8594;</a> </li>
        <li><a href="#" class="thumb" title="An image">
            <img src="../../Content/style/dummies/282x150.gif" alt="Post" /></a>
            <div>
                <a href="#" class="header">Lorem ipsum dolor</a> Donec eu libero sit amet quam egestas
                semper. Aenean ultricies mi vitae est. ultricies eget, tempor sit amet, ante. Mauris
                placerat eleifend leo.
            </div>
            <a href="single.html">Read more &#8594;</a> </li>
    </ul>
</div>
@*<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">
        http://asp.net/mvc</a>.
</p>
<a href="@Url.Action("CallBack", "Twitter")">
    <img src="../../Content/images/twitter_connect.png" alt="Logueate con Twitter" title="Logueate con Twitter" /></a>
<br />
<br />
@Html.ActionLink("Login Facebook", "LogOn", "Facebook", new { returnurl = "http://localhost:50649/" }, null)
*@